* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  background: #051a24;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: #1e5799;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e5799", endColorstr="#7db9e8", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  max-width: 100vw;
}

.header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu {
  margin-right: 15px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100px;
  text-align: right;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu a {
  margin: 10px 0;
  color: white;
  text-decoration: none;
}

.header__menu li:hover {
  text-decoration: underline;
  color: white;
}

.header__menu--profile {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  width: 100%;
}

.section__title {
  color: white;
  font-size: 40px;
}

.input {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  height: 40px;
  padding: 0 20px;
  width: 70%;
  outline: none;
}

.categories__title {
  color: white;
  font-size: 20px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}

.carousel {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  /* funcional solo en firefox */
  padding-left: 10px;
  position: relative;
}

::-webkit-scrollbar-thumb {
  background: #2473bc;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar:hover {
  background: #b3b3b3;
  -webkit-box-shadow: 0 0 2px 1px #2473bc;
          box-shadow: 0 0 2px 1px #2473bc;
}

::-webkit-scrollbar:hover:active {
  background: #999;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}

.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 450ms;
  transition: 450ms;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.36);
          transform: scale(1.36);
  opacity: 1;
}

/* items details */
.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-item__details {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transition: 450ms;
  transition: 450ms;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item__details img {
  position: relative;
  top: 160px;
  height: 28px;
}

.carousel-item__details p {
  font-size: 12px;
  color: white;
  position: relative;
  top: 165px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
}

.footer a {
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */